@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
background-color: #F4D03F;
color: #095f55;
background-image: linear-gradient(90deg, #F4D03F 0%, #23dfb9 50%, #c2c1c1 100%);
}

header{
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.todoDiv{
    display: flex;
    justify-content: space-between;
    background-color: #1deec4;
    padding: 2rem;
    margin: 0.5rem;
    font-size: 20px;
    transition: all  1s ease ;
}
.todo-list{
    max-width: 40%;
    margin: auto;
    list-style: none;
}
.todoLi{
    flex: 2;
}

.fas fa-check,
.fas fa-plus-square,
.fas fa-trash{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #F4D03F;
    border: none;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}
.fall{
    transform: translateY(6rem) rotateZ(20deg);
}

.todo-input,
.todo-submit{
    font-size: 30px;
    padding: 1rem ;
    margin-top: 2rem;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.completeButton,
.trashButton{
    font-size: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.todoLi{
    font-size: 3rem;
    padding: 10px;
    color: white;
    font-weight: bolder;
}
