@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
background-color: #F4D03F;
background-image: linear-gradient(90deg, #F4D03F 0%, #16A085 50%, #ffffff 100%);
}

header{
    text-align: center;
    margin: 5rem;
    font-size: 3rem;
}

.todoDiv{
    display: flex;
    justify-content: space-between;
    background-color: #16A085;
    padding: 2rem;
    margin: 0.5rem;
    font-size: 20px;
    transition: all  1s ease ;
}
.todo-list{
    max-width: 40%;
    margin: 10% auto;
    list-style: none;
}
.todoLi{
    flex: 2;
}

.fas fa-check,
.fas fa-plus-square,
.fas fa-trash{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #F4D03F;
    border: none;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}
.fall{
    transform: translateY(6rem) rotateZ(20deg);
}
